
 nav {
   height: 100px;
 }
 .battleship {
   background-image: url(https://previews.123rf.com/images/bruno1998/bruno19981105/bruno1998110500015/9517541-cartoon-illustration-of-a-paper-boat-with-a-pirate-flag.jpg);
   height: 75px;
   width: 75px;
 }
